:root{
  --screenHeight: 110vh;
  --contentHeight: 90vh;
  --controlPanelRatio: 25%;
  --headerHeight: calc(100vh - var(--contentHeight));
  --configWidth: 20vw;
  --footerHeight: calc(var(--screenHeight) - 100vh);
}

a{
  color: #eee;
  text-decoration: none;
  transition: ease .2s;
  font-weight: 600;

  &:visited{
    color: #eee;
  }

  &:hover{
    color: #b4ecee;
  }
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI';
  user-select: none;
}

*::-webkit-scrollbar{display:none;}

body{
  height: 100%;
  overflow: hidden;
}

.main.container{
  display: block;
  position: absolute;
  width: 100%;
  height: var(--screenHeight);
}

.main.header{
  display: block;
  position: relative;
  width: 100%;
  height: var(--headerHeight);
  background-color: #2d2d2d;
  z-index: 10;
}

.main.logo{
  display: block;
  position: absolute;
  left: 1%;
  top: 0;
  height: var(--headerHeight);
  aspect-ratio: 1/1;
  /* background-color: #64186e; */
  cursor: pointer;
  background-image: url('../images/logo.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  transform: rotate(-45deg);
}

.main.content{
  display: block;
  position: relative;
  width: 100%;
  height: var(--contentHeight);
}

.main.graph-container{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - var(--controlPanelRatio));
  height: var(--contentHeight);
  background-color: #eeeeee;
}

.main.scroller{
  display: block;
  position: absolute;
  width: 10vw;
  height: 2vw;
  bottom: var(--footerHeight);
  left: calc((var(--controlPanelRatio) / 2) - 5%);
  color: #eee;
  font-size: 2.6vh;
  text-align: center;
  background-color: #414141;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
  z-index: 9999;
  transition-delay: 1s;
  transition: ease-out .2s;
}

.main.scroller.up{
  color: #111;
  background-color: #afafaf;
  bottom: calc(var(--footerHeight) - 2vw);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
  transition-delay: 1s;
  transition: ease-out .2s;
}
