:root{
  --screenHeight: 115vh;
  --contentHeight: 90vh;
  --controlPanelRatio: 25%;
  --headerHeight: calc(100vh - var(--contentHeight));
  --configWidth: 20vw;
  --footerHeight: calc(var(--screenHeight) - 100vh);
}

*{padding:0;margin:0;font-family: 'Segoe UI';}

*::-webkit-scrollbar{display:none;}

body{
  height: 100%;
  overflow: hidden;
}

.main.container{
  display: block;
  position: absolute;
  width: 100%;
  height: var(--screenHeight);
}

.main.header{
  display: block;
  position: relative;
  width: 100%;
  height: var(--headerHeight);
  background-color: #2d2d2d;
  z-index: 10;
}

.main.logo{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: var(--headerHeight);
  aspect-ratio: 2/1;
  background-color: #64186e;
  cursor: pointer;
}

.main.content{
  display: block;
  position: relative;
  width: 100%;
  height: var(--contentHeight);
}

.main.graph-container{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - var(--controlPanelRatio));
  height: var(--contentHeight);
  background-color: #eeeeee;
}

.main.scroller{
  display: block;
  position: absolute;
  width: 10vw;
  height: 2vw;
  bottom: var(--footerHeight);
  left: calc((var(--controlPanelRatio) / 2) - 5%);
  color: #eee;
  font-size: 2.6vh;
  text-align: center;
  background-color: #414141;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
  z-index: 9999;
  transition-delay: 1s;
  transition: ease-out .2s;

  /* &:hover{
    height: 3vw;
  } */
}

.main.scroller.up{
  color: #111;
  background-color: #afafaf;
  bottom: calc(var(--footerHeight) - 2vw);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
  transition-delay: 1s;
  transition: ease-out .2s;

  /* &:hover{
    height: 3vw;
    bottom: calc(var(--footerHeight) - 3vw);
  } */
}

.main.footer{
  display: block;
  position: relative;
  width: 100%;
  height: var(--footerHeight);
  background-color: #2d2d2d;
  z-index: 10;
}

.main.overflow-hider{
  display: block;
  position: absolute;
  top: var(--screenHeight);
  left: 0px;
  width: 100%;
  height: 0;
  background-color: #f00;
}
