.main.profile{
  display: block;
  position: absolute;
  right: calc(var(--headerHeight) - var(--configWidth));
  /* right: 0; */
  top: 0;
  height: var(--headerHeight);
  width: var(--configWidth);
  background-color: #284872;
  cursor: pointer;
  transition: ease-out .2s;
}

.main.profile.active{
  right: 0;
  transition: ease-out .2s;
}

.profile.image{
  display: block;
  position: absolute;
  top: 10%;
  left: 3%;
  height: 80%;
  aspect-ratio: 1/1;
  background-color: #3d7228;
  border-radius: 1vh;
}

.profile.config{
  display: block;
  position: absolute;
  top: var(--headerHeight);
  right: calc((var(--configWidth) + var(--headerHeight)) * -1);
  width: var(--configWidth);
  height: var(--contentHeight);
  background-color: #2d2d2d;
  z-index: 9999;
  transition: ease-out .2s;
  cursor: auto;
}

.profile.config.active{
  right: 0;
  transition: ease-out .2s;
}