.graph-container.inner-box{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to bottom, #cbd381, #e06edb); */
  background-color: #4b575c;
  z-index: 5;
}

.workplace.scroller{
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  /* top: var(--headerHeight); */
  width: 2.5vh;
  height: var(--contentHeight);
  background-color: #bebebe;
  z-index: 6;
}

.scroller.button{
  display: block;
  position: absolute;
  width: 2.5vh;
  aspect-ratio: 1/1.3;
  background-color: #7c3576;
  cursor: pointer;
  z-index: 7;
}

.scroller.button.up{
  top: 0;
}

.scroller.button.down{
  bottom: 0;
}

.graphCanvas{
  display: block;
  position: relative;
  top: 0;
  left: 5%;
  width: 90%;
  margin-top: 8.6%;
  aspect-ratio: 16/9;
  background-color: #eee;
}

#graphCanvas-1{
  margin-top: 5%;
}
